@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --red: #e50914;
}
/*----Utility Class----*/

body{
    background-color: #000000;
}
header{
   
    padding: 1.5rem;
    margin: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 200%;
    background-size: cover;
    background-image: linear-gradient(180deg, rgb(5 3 3 / 84%), rgb(0 0 0 / 42%), rgb(0 0 0 / 87%)), url(./images/netflix-background.jpg);
}
.container{
    max-width: 956px;
    margin: 0 auto;
    /* padding: 0 2rem; */
}
.wrapper{
    width: 100%;
    height: auto;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    width: 150px;
}
.header-logo img{
    overflow: hidden;
}
.selector{
    display: flex;
    gap: 18px;
    position: relative;
}
.selector select{
    padding: 0.3rem 0.8rem;
    background-color: #00000054;
    color: #ffffff;
    border-radius: 5px;
    padding-left: 30px;
    font-size: 1rem;
    font-weight: 400;
}
.selector img{
    position: absolute;
    top: 7px;
    left: 8px;
}
.header-buttons button{
    padding: 0.3rem 1rem ;
    background: var(--red);
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 5px;
    border: none;
    outline: none;
}


.container .home-text{
    color: #ffffff;
    padding-top: 11rem;
    text-align: center;
}
.home-text h1{
    font-size: 2.9rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.home-text h3{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}
.home-text p{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
}



.home-buttons{
   text-align: center;
   margin-bottom: 7.8rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
}
.home-buttons input{
    width: 22rem;
    padding: 1rem;
    line-height: 1.5;
    background: #0000006b;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid rgba(218, 217, 217, 0.582);
    color: #ffffff;
}
.home-buttons button{
    background-color: var(--red);
    color: #ffffff;
    padding: 0.6rem 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 5px;
}
.home-buttons button span{
    font-size: 1.5rem;
    font-weight: 200;
}

section.line{
    height: 0.5rem;
    width: 100%;
    background-color: #232323;
}

/* ---------START ALL CARD SECTION------- */

.card-wrapper{
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: -2rem;
    margin-right: -2rem;
}
.card{
    display: flex;
    align-items: center;
    color: #ffffff;
    gap: 1rem;
}

.card h1{
    font-size: 2.8rem;
    margin-bottom: 1rem;
}
.card p{
    font-size: 1.3rem;
}
.card img{
    width: 30rem;
}
.card .left{flex: 1;}
.card .right{flex: 1;}


/* ---------START FAQ SECTION------- */
section .faq{
    margin-top: 5rem;
    color: #ffffff;
    text-align: center;
    align-items: center;
}
.faq h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.question{
    margin-top: 1rem;
    margin-bottom: 4rem;
    width: 100%;
}
ul.question li{
    list-style: none;
    width: 100%;
    padding: 0.2rem;
}
ul.question li label{
    display: flex;
    align-items: center;
    padding: 1.8rem;
    font-size: 1.3rem;
    font-weight: 400;
    background-color: #303030;
    margin-bottom: 0.1rem;
    cursor: pointer;
    position: relative;
}
ul.question li label::after{
    content: '+';
    font-size: 3rem;
    position: absolute;
    right: 1.2rem;
    font-weight: 300;
    transition: all 0.2s ease;
   
}
li input[type="radio"]{
    display: none;
}
.question .answer{
    text-align: left;
    background-color: #303030;
    padding: 0 1.2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.question input[type="radio"]:checked + label + .answer{
    max-height: 600px;
    padding: 1.9rem 1.2rem;
}
.question input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}

/*-----------------*/
.faq h3{
    font-size: 1.1rem;
    font-weight: 300;
    color: white;
    margin-bottom: 1rem;
}
.faq-email-button{
    margin-bottom: 4rem;
}

/* ---------START FOOTER SECTION------- */

footer{
    color: #ffffff;
}
footer .container h2{
    font-size: 1rem;
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.footer-container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 0.9rem;
    margin-bottom: 1.3rem;

}
.footer-container a{
    color: #cecece;
    font-size: 0.8rem;
}
.footer-selector{
    margin-bottom: 1rem;
}
.bottem-netflix-name{
    font-size: 0.8rem;
    color: #cecece;
    margin-bottom: 4.5rem;
}

/*---------MEDIA CSS FOR CARD FLEX------------*/

@media screen and (max-width:960px){
    .container .card-wrapper .card{
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
      
    }
}
/*---------MEDIA CSS FOR FOOTER CONTAINER GRID------------*/
@media screen and (max-width:960px){
    .footer-container{
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-item {
       margin-left: 1rem;
       margin-right: 1rem;
    }
    .container{
        overflow-x: hidden;
    }
}






